<div id="earrings">
	<div class="inner-container">
		<% @earrings.each do |earring| %>
			<div class="box box-small bbg">
				<%= link_to (image_tag earring.image(:medium)),  earring_path(earring)%>
				<div class="description">
					<%=earring.vendor%> <%=earring.design%>
				</div>
			</div>
		<% end %>
	</div>
</div>

<p style="clear:both; text-align:center"></br></br></br>Don't see your earring here? Tell us what you'd like to see. We're constantly expanding our selection.</p>

<!--
<div style="clear:both">
	</br>

</div> -->
