<div class="container">
	<div class="row">
		<div class="span6">
			<h3>FAQ</h3>
			<h4>Why Stud & Found?</h4>
			<p>Every girl knows how awful it is to lose a single earring. I’ve lost my favorite earring only to find out that I can’t buy a single earring to replace it! That’s why we created Stud & Found so that we can find and replace our single earrings that costs less than buying a pair.</p>
			<h4>How much does it cost?</h4>
			<p>Every time you purchase an item, you pay a joint shipping + handling fee of $5. If you decide to sell your earring, we can send you a padded envelope at no extra cost.</p>
			<h4>How are the earrings priced?</h4>
			<p>We use a pricing algorithm with lots coding and stuff to figure out the demand and supply of earrings (yea, we’re kind of nerdy and like playing with numbers). The selling price of a certain earring goes up and down depending on how many people are requesting a specific type of earring. The same concept works for buying an earring.</p>
			<h4>How does selling my earring work?</h4>
			<p>You will see a current “buy” price and “sell” price. If you decide to sell your earring, you will receive an email with a prepaid mailing label. If you so choose, we can mail you a padded envelope as well for no extra cost. Put the item in the appropriate USPS box, stick on the label, and mail it. Once we receive your earring, we will pay you via PayPal.</p>
			<h4>Do I have to be in the US?</h4>
			<p>Yes, we are a US-based community for now and shipping to contiguous 48 states. (Sorry Alaska and Hawaii, we love you! We’ll coming soon!)</p>
			<h4>What is your return policy?</h4>
			<p>If an item doesn't work for you, you can return it and receive a full refund. Email us at help@studandfound.com within 5 days of receiving your order with your Order #, Item Name, and Reason for Return. Once we approve your return, you are in charge of shipping the item to us. Return shipping is not paid by Stud & Found. We recommend using trackable postage as we cannot be held liable for any items lost in the post. Sorry :(</p>
			<h4>How do I know my item is not counterfeit?</h4>
			<p>At Stud & Found, we have a zero tolerance policy for counterfeit items. We support the wonderfully talented designers and we ask you to respect this policy and not list any counterfeit items. If you receive an item that you think is a replica, please report the item and request a refund.</p>

		</div>
		<div class="span6">
			<h3>About Us</h3>
			<p>Stud & Found is an online community for people who want to buy or sell their single earrings. We match your lonesome earrings to their soul mates – A Romeo for your Juliet, a Lancelot to your Guinever – and give you the opportunity to sell your single earrings back to the community so they can find a new home.</p>
			<h3>Our Manifesto</h3>
			<p>Star-crossed lovers only exist in fiction. We find matches.</p>
			<h3>How it works</h3>
			<p>
				1. Locate your single earrings. They might be hidden in your jewelry box, in your back jean pockets, on an earring rack.<br>
				2. Find your earring based on brand, material, color and size.<br>
				3. Decide if you want to buy a match, or sell it for cash at the current buying and selling prices.<br>
				4. Ship or wait for shipping!<br>
					a. If you decide to sell your earring, we will send you a prepaid padded mailing envelope. Or you can print out the label at home and package it in a padded envelope or wrapped with tissue.<br>
					b. If you decide to buy your earring, we will send it to you within 2 business days. Visit “My Account” page to track your package.<br>
				5. Repeat!
			</p>
		</div>
	</div>
</div>
