<div class="center hero-unit">
	<h1>Welcome!</h1>
	<p>to <%= link_to 'Studhub.com', '#' %></p>
	<p><%= link_to 'Sign up with Facebook!', '/auth/facebook', class:"btn btn-large btn-primary" %></p>
	<p>Check out the <%= link_to 'Earrings Page', earrings_path %></p>
</div>
