* {
    font-family: helvetica, sans-serif;
}

h1{
    margin-bottom:50px;
    padding-bottom:10px;
    border-bottom:lightgrey 2px solid;
}

body{
    padding-top: 60px;
}


.footer{
    margin-top: 50px;
    a {
        color: grey;
    }
}

form {
    margin-bottom: 0px;
}


/* required for jquery masonry*/

.box {
    margin: 5px;
    /*padding: 5px;*/
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 180px;
}

.box-large {
    width: 300px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    /*font-size: 1em;*/
    padding: 5px 0;
    text-align: center;
/*    background: linear-gradient(bottom, rgba(200,200,200,1), rgba(200,200,200,0));
    background: -webkit-linear-gradient(bottom, rgba(200,200,200,1), rgba(200,200,200,0));
    background: -moz-linear-gradient(bottom, rgba(200,200,200,1), rgba(200,200,200,0));*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

