* {
    font-family: helvetica, sans-serif;
}

h1{
    margin: 25px 50px;
    padding-bottom:10px;
    border-bottom:lightgrey 2px solid;
}

body{
    padding-top: 60px;
}


.footer{
    margin-top: 50px;
    background-color:#ddd;
    padding: 20px;
    a {
        color: grey;
        padding: 20px;
    }
}

form {
    margin-bottom: 0px;
}


/* required for jquery masonry*/

.box {
    margin: 15px auto;
    padding: 3px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;*/
    width: 180px;

    background-color: #ddd;
}

.box-large {
    width: 250px;
}

.box img {
    width: 100%;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
}

.description {
    font-size: 1.3em;
    padding: 5px 0;
    text-align: center;
    color: #888;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
}

.container {
    margin: auto;
}

