<div class="footer">
	<a href="#" onclick="
			window.open(
			  'https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fagile-peak-7882.herokuapp.com',
			  'facebook-share-dialog',
			  'width=626,height=436');
			return false;">Share on Facebook</a> | <%= link_to 'About',  about_path %> | <%= link_to "Terms of Use", terms_path %> | <%= link_to "Sign in with Dwolla", '/auth/dwolla' %>
</div>
